h3.floatingHeader {
      position: fixed;
      top: 0;
      visibility: hidden;
}

.inner_marker {
	height: 300px;
	overflow-y: auto;
}

html, 
body,
.container{ 
	height: 100%; 
}


.col-md-10, 
#rowmap{
	height: 75%
}

#map-canvas {
	height: 100%
}

h1.hidden {
    display: none;
}