h3.floatingHeader {
      position: fixed;
      top: 0;
      visibility: hidden;
}

.inner_marker {
	height: 300px;
	overflow-y: auto;
}

html, 
body,
.container{ 
	height: 100%; 
}


.col-md-9, 
#rowmap{
	height: 75%
}

#map-canvas, .circle-text {
	height: 150%;
	width: 100%;
	margin: 0 auto;
	-moz-border-radius: 60%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD;
}

h1.hidden {
    display: none;
}
