h3.floatingHeader {
      position: fixed;
      top: 0;
      visibility: hidden;
}

.inner_marker {
	height: 300px;
	overflow-y: auto;
}

html, 
body,
.container{ 
	height: 100%; 
}


.col-md-9, 
#rowmap{
	height: 75%
}

#map-canvas, .circle-text {
	height: 140%;
	width: 100%;
	margin: 0 auto;
	-moz-border-radius: 60%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD;
}

h1.hidden {
    display: none;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:100%;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

/*.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}*/